/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Make the root and body fill the screen */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Make main content expand to fill space */
main.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}


h1, h2, h3 {
  font-weight: 700;
}

button {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  cursor: pointer;
}


.login-panel-button {
  width: 100%;
  background-color: #007f3b;
  color: white;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  height: 50px;
}



/* Custom Arrow */
.custom-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  background-color: rgb(17, 15, 15); /* Black background */
  border: 2px solid black;
  border-radius: 4px; /* Optional: Rounded corners */
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; /* Ensure clicks go to the select box */
  z-index: 1; /* Ensure it appears above the dropdown */
}

.custom-arrow img {
  width: 30px; /* Adjust icon size */
  height: 30px;
}

/* Root Variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #007f3b;
  --background-color: #f0f4f8;
  --text-color: #333;
}


/* Login/Register */

.login-container {
  height: 100vh;
  width: 100vw;
  background-color: #002c7f;
  align-items: center;
  justify-content: center;
  display: flex;
}

.login-box {
  height: 80vh;
  width: 55vw;
  background: #FFFFFF;
  text-align: center;
}

.login-box .logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 25px;
  height: 200px;
  width: auto;
}

.login-box h2 {
  font-size: 2em;
  margin-bottom: 50px;
}

.login-box label {
  font-size: 1.2em;
  font-weight: 600;
  text-align: left;
}

.login-box span {
  color: #FF0000;
}

.input-container {
  width: 30%;
  margin: auto;
  text-align: left;
}

.input-box {
  height: 50px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 5px;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.confirm-button {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 12px 24px;
  border: none;
  border-radius: 0;
  background-color: #003eb3;
  color: #FFFFFF;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 100;
  transition: background-color 0.3s ease;
  height: 50px;
  width: 30%;
}

.confirm-button:hover {
  background-color: #002c7f;
}

.account-button {
  color: #003eb3;
}

.account-button:hover {
  color: #002c7f;
}

/* Login back button */

.back-button {
  color: #003eb3;
  text-align: left;
  text-decoration: none;
}

.back-button-container {
  position: relative;
  width: 150px;
  float: left;
  margin-left: 75px;
  margin-top: 50px;
}

.back-button-container img {
  height: 10px;
  width: auto;
}

.back-button-container p {
  text-decoration: none;
}

.back-button-container p:hover {
  text-decoration: underline;
}

.placeholder {
  color: transparent;
}