.nav-bar {
    background-color: #002c7f;
    padding: 1rem;
    text-align: center;
    font-weight: 100;
  }
  
  .nav-bar a {
    color: white;
    margin: 0 1.2rem;
    text-decoration: none;
    font-weight: 100;
    padding: 15px;
    transition: background-color 0.3s ease;
  }
  
  .nav-bar a:hover {
    background-color: #001a4b;
    padding: 12px 15px;
  }
  