.filter-search-container {
    padding: 16px;
    max-width: 1000px;
    margin: auto;
  }
  
  .content-container {
    display: flex;
    gap: 32px;
    padding: 16px;
    max-width: 1200px;
    margin: auto;
    align-items: flex-start;
  }
  
  .filter-column {
    flex: 1;
    max-width: 300px;
  }
  
  
  .search-bar-wrapper {
    margin-bottom: 32px;
  }
  
  .activity-header-wrapper {
    margin-bottom: 16px;
  }

  .sort-select-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 4px 8px 8px;
    cursor: pointer;
    
    background-color: white;
  }
  
  .sort-label {
    font-size: 16px;
    font-weight: 700;
    color: #333;
  }
  
  .arrow-wrapper {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrow-icon {
    width: 10px;
    height: 5px;
    background-color: #333333;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }

  .activity-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  
  